<div class="gradient full-height">
 
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark justify-between">
      <a class="navbar-brand cyber-txt" [routerLink]="['/']">BASIX</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse group-btn end" id="navbar">
        <a href="https://github.com/basix-protocol" target="_blank">
          <img
            src="/assets/images/icons/github.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a href="https://twitter.com/BasixProtocol" target="_blank">
          <img
            src="/assets/images/icons/twitter.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a href="https://t.me/basixprotocol" target="_blank">
          <img
            src="/assets/images/icons/telegram.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a>
          <img
            src="/assets/images/icons/uniswap.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
      </div>
    </nav>
  </section>

  <section class="part_1">
    <div class="block-1">
      <div class="container">
        <div class="row relative">
          <div class="col-lg-6 flex-start">
            <img
              src="/assets/images/section_1/1.svg"
              class="img-cover img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 flex-end">
            <img
              src="/assets/images/section_1/2.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div
          class="row box-mounted relative top-negative-155px justify-content-center"
        >
          <div class="col-lg-10 border-neon">
            <p class="main-txt">
              The basix Protocol is a DeFi project designed to shake out weak
              hands and yield the highest gains for those who understand the
              rules. The $BASX token combines a simplified version of
              Ampleforth’s economic policy with YFI’s distribution mechanism.
              The result is a post-modern economic game that continually resets.
              The barrier of entry is fair and balanced for all participants.
              The only rule of BASIX is that no one can change the rules.
            </p>
            <p class="neon-txt">
              ​There are no owners, and because the private keys have been
              burned, the contracts cannot be changed. This makes an exit scam
              impossible.
            </p>
          </div>
        </div>
        <div class="row relative top-negative-160px end">
          <div class="col-lg-12">
            <img src="/assets/images/section_1/4.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <img
      src="/assets/images/section_1/5.svg"
      class="img-fluid img-float-1"
      alt=""
    />

    <div class="block-2">
      <div class="container">
        <div class="row relative top-90 justify-content-center">
          <div class="col-lg-9 pl-100">
            <p class="main-txt">
              $BASX is a digital token asset. Every 24 hours, the BASIX Protocol
              adjusts the supply of $BASX tokens to target the value of 1 $BASX
              to 1 $sUSD. <br />
              Bitcoin has a stable supply, but the price is extremely volatile.
              For $BASX, the relationship is the opposite: a volatile supply
              targeting a stable price.
            </p>
            <p class="neon-txt">
              These changes apply to all $BASX holders. If you own 1% of the
              supply, you will always own 1% of the supply – regardless of
              changes to the market cap.
            </p>
          </div>
        </div>
        <div class="row relative top-negative-205px end">
          <div class="col-lg-12">
            <img src="/assets/images/section_1/6.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="block-3">
      <div class="container">
        <div class="row relative justify-content-center">
          <div class="col-lg-3">
            <img
              src="/assets/images/section_1/7.svg"
              class="img-fluid absolule-left-50px"
              alt=""
            />
          </div>
          <div class="col-lg-4">
            <p class="main-txt">
              As the demand for $BASX tokens increases, the number of $BASX
              tokens you own increases. If the demand decreases, the number of
              $BASX tokens you own decreases. The BASIX protocol’s rebase
              function queries a Uniswap v2 oracle to compare the price of $BASX
              to $sUSD. This function cannot execute more than once every 24
              hours. If the price difference between $sUSD and $BASX is more
              than 5% in either direction, this triggers a rebase event.
            </p>
            <p class="neon-txt">
              [.. Above the 5% threshold, the supply expands. Below the 5%
              threshold, the supply contracts. ..]
            </p>
            <img
              src="/assets/images/section_1/8.svg"
              class="img-fluid ptl-30"
              alt=""
            />
          </div>
          <div class="col-lg-4">
            <p class="main-txt">
              When a rebase event is triggered, $BASX supply for all holders is
              adjusted smoothly over a ten-day period in an attempt to meet the
              targeted value of 1 $BASX to 1 $sUSD. For all accounts that own
              $BASX tokens, a rebasing can either result in an increase or
              decrease in their balance of $BASX. After a minimum of 24 hours,
              if the $BASX:$sUSD price is still not within the 5% target
              boundary, a rebase opportunity again becomes available.
            </p>
            <p class="neon-txt">
              For example, if the price of $BASX is $1.20 sUSD on Tuesday night
              and the price of $BASX is worth $1.15 in $sUSD on Wednesday night,
              then the rebase event can restart.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block-4">
      <div class="container">
        <div class="row relative justify-content-center">
          <div class="col-lg-3">
            <img
              src="/assets/images/section_1/9.svg"
              class="img-fluid absolule-left-90px"
              alt=""
            />
          </div>
          <div class="col-lg-8 p-text">
            <p class="main-txt">
              If you have 100 $BASX tokens worth $150 sUSD before a rebase
              event, your account balance will be 150 $BASX at the end of the
              rebase event. <br />
              This allows you to take advantage of future price movements. This
              also works the other way around, which results in a lower balance,
              but it presents the best opportunity to get back into the game or
              build up your stack in proportion to the total market cap for
              better future yields.
            </p>
            <p class="neon-txt">
              It also changes the entire dynamic behind DeFi by presenting new
              trading strategies. The savviest of traders won’t make decisions
              by referencing price alone, but also consider supply, which could
              result in massive gains. As always, do your own research.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block-5">
      <div class="container">
        <div class="row relative justify-content-center">
          <div class="col-lg-6 flex-start">
            <img
              src="/assets/images/section_1/10.svg"
              class="img-fluid triangle-1"
              alt=""
            />
          </div>
          <div class="col-lg-6 flex-end">
            <img
              src="/assets/images/section_1/11.svg"
              class="img-fluid triangle-2"
              alt=""
            />
          </div>
        </div>

        <div class="row justify-content-center title-mount">
          <div class="col-lg-8 center">
            <span class="title">BASIX</span>
            <span class="title-white">MACROECONOMICS</span>
          </div>
          <div class="col-lg-2">
            <img
              src="/assets/images/section_1/8.svg"
              class="img-fluid arrows"
              alt=""
            />
          </div>
        </div>

        <div class="container">
          <div class="row relative top-100 justify-content-center">
            <div class="col-lg-10 pl-100 border-neon zindex-5">
              <p class="main-txt">
                The price movements of traditional cryptocurrencies are tightly
                coupled. <br />
                When Bitcoin goes down, so does the rest of the market, and
                vice-versa. $BASX is not subject to this same behavior because
                the protocol enforces its own independent set of rules. As a
                result, it presents a unique value and opportunity for the DeFi
                space to play a new economic game.
              </p>
              <p class="neon-txt">
                Check out Gauntlet’s report
                (<a href="https://gauntlet.network/reports/ampleforth" target="_blank">https://gauntlet.network/reports/ampleforth</a>) on Ampleforth to
                learn more.
              </p>
            </div>
          </div>
          <div class="row absolute-top-90px">
            <div class="col-lg-6 flex-start">
              <img
                src="/assets/images/section_1/12.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 flex-end">
              <img
                src="/assets/images/section_1/13.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="part_2">
    <div class="container">
      <div class="row relative">
        <div class="rotate-text orientation txt-tokenomics">TOKENOMICS</div>
        <div class="col-lg-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 end">
                <img
                  src="/assets/images/section_2/1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="col-lg-6">
                <img
                  src="/assets/images/section_2/2.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="row center justify-content-center pt-60">
              <div class="col-lg-6">
                <img
                  src="/assets/images/section_2/3.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="part_3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="roadmap-txt">ROADMAP</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-80 center">
        <div class="col-lg-9 col-sm-12 col-md-12 col-xs-12">
          <img
            src="/assets/images/section_3/roadmap.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="part_3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="roadmap-txt">ROADMAP</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-80 relative">
        <div class="roadmap-image"></div>
        <div class="txt-block-1">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Integrate sSUSD as decentralized stablecoin</p>
          <p class="quarter-txt">Execute BASIX token sales and community growing</p>
          <p class="quarter-txt">Launch the BASIX protocol</p>
          <p class="quarter-txt">
            Provide initial liquidity on Uniswap and integrate with other
            popular DEXs
          </p>
        </div>
        <div class="txt-block-2">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Active CEX outreach, correspondence and listings</p>
          <p class="quarter-txt">Execute post launch BASIX Protocol marketing campaign</p>
          <p class="quarter-txt">Perform protocol updates and expand BASIX Protocol development team</p>
        </div>
        <div class="txt-block-3">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Explore the creation of a Base Protocol DEX, where BASE is the price basis for all pairs (x/BASIX)</p>
          <p class="quarter-txt">Propose BASIX as a price basis for crypto pairs on popular DEXs</p>
          <p class="quarter-txt">Propose BASIX as a collateral asset for hedged lending</p>
        </div>
        <div class="txt-block-4">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Mainnet launch and platform migration</p>
          <p class="quarter-txt">Consider the creation of a foundation layer</p>
          <p class="quarter-txt">New Basix features of governance proposals, votes, and action items</p>
        </div>
      </div>
    </div>
  </section> -->

  <div class="separator last"></div>
</div>
