<div class="gradient full-height">
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark justify-between">
      <a class="navbar-brand cyber-txt" [routerLink]="['/']">BASIX</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse group-btn end" id="navbar">
        <a href="https://github.com/basix-protocol" target="_blank">
          <img
            src="/assets/images/icons/github.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a href="https://twitter.com/BasixProtocol" target="_blank">
          <img
            src="/assets/images/icons/twitter.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a href="https://t.me/basixprotocol" target="_blank">
          <img
            src="/assets/images/icons/telegram.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>

        <a
          href="https://www.dextools.io/app/uniswap/pair-explorer/0xa2fc0a09ed525ed1e1322472d3f71270c167e976"
          target="_blank"
        >
          <img
            src="/assets/images/icons/uniswap.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
      </div>
    </nav>
  </section>

  <section class="part_1">
    <div class="block-1">
      <div class="container">
        <div class="row relative">
          <div class="col-lg-6 flex-start">
            <img
              src="/assets/images/section_1/1.svg"
              class="img-cover img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 flex-end">
            <img
              src="/assets/images/section_1/2.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div
          class="row box-mounted relative top-negative-155px justify-content-center"
        >
          <div class="col-lg-10 border-neon">

            <div class="row center">
              <div class="col-lg-12">
                <a class="card-header card-header-basix" href="/assets/Basix-WhitePaper.pdf">Download WhitePaper</a>
              </div>
            </div>
            <p class="main-txt">
              The Basix protocol is a Defi project that redesigns different
              concepts that provide profits to every token holder that
              understand how it works. The $BASX token is a mix of Ampleforth
              economy policy and YFI with added features of NFTs. The result is
              a modern decentralized system that introduces a deflationary
              system with NFT features (NFT is under development).
            </p>
            <p class="neon-txt">
              ​Basix team have no acces to the code as they renounce ownership,
              Impossible to rug. Also liquidity and team tokens are locked for 1
              year.
            </p>
            <p class="main-txt">
              Protocol audited by CTDSec.
              <a
                target="_blank"
                href="https://github.com/basix-protocol/basix-core/raw/master/audits/Cybersecurity%20report%20-%20Basix%20Protocol%20-%20CTDSec.pdf"
                >Check it here.</a
              >
            </p>
          </div>
        </div>
        <div class="row relative top-negative-160px end">
          <div class="col-lg-12">
            <a
              target="_blank"
              href="https://etherscan.io/tx/0x3ed6e5b4b6a5924e54f0fbad89077021888d6df9ca1af1e45955a6057bf52873"
            >
              <img
                src="/assets/images/section_1/4.svg"
                class="max-w-300"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <img
      src="/assets/images/section_1/5.svg"
      class="img-fluid img-float-1"
      alt=""
    />

    <div class="block-2">
      <div class="container">
        <div class="row relative top-90 justify-content-center">
          <div class="col-lg-9 pl-100">
            <p class="main-txt">
              $BASX is the token of the protocol. Every 24 hours, the Basix
              Protocol adjusts the total amount of $BASX tokens to target the
              value of 1 $BASX to 1 $sUSD.
            </p>
            <p class="neon-txt">
              These balance changes apply to all $BASX holders, but if you own
              5% of the supply, you will never own less than the 5% of the
              supply, regardless of the amount of tokens you hold.
            </p>
            <p class="main-txt">
              In each transaction (trade or transfer) of $BASX 1% of the
              transaction value is burned. This results in each holder seeing an
              increase in the % of supply that they control just by holding.
              Frictionless passive income to all holders!
            </p>
          </div>
        </div>
        <div class="row relative top-negative-300px end">
          <div class="col-lg-12">
            <img src="/assets/images/section_1/6.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="block-3">
      <div class="container">
        <div class="row relative justify-content-center">
          <div class="col-lg-4">
            <p class="neon-txt">NFTs, Pools and LP Pool</p>
            <p class="main-txt">
              Basix will create custom NFTs with a unique style, these will keep
              rolling out eventually. All nfts purchases will be made with 50%
              $BASX and 50% native token.
            </p>
            <p class="main-txt">
              Besides we will enable different pools for staking $BASX and earn
              NFTs with different rarities. Stay tuned for new features that we
              will be adding to the NFTs! $BASX also incentives the users for
              adding liquidity to the $BASX/sUSD Pool. You can stake these LP
              tokens in our LP Pool to earn high rewards.
            </p>
            <p class="main-txt">
              You can check how many tokens the pool has locked in, and these
              will be distrubed between the stakers, also the stake rewards will
              be divied by half every 72 hours.
            </p>

            <img
              src="/assets/images/section_1/8.svg"
              class="img-fluid ptl-30"
              alt=""
            />
          </div>
          <div class="col-lg-4">
            <p class="neon-txt">The rebase process in depth</p>
            <p class="main-txt">
              Anyone can trigger a rebase event using our DAPP. To trigger it
              the smart contracts needs to meet certain conditions: <br />
            </p>

            <p class="main-txt">
              - Current time must be between 9 AM and 10 AM UTC
            </p>
            <p class="main-txt">
              - 24 hours must have passed since the last rebase
            </p>
            <p class="main-txt">
              - Price difference between $BASX and sUSD must be more than 5%
            </p>

            <p class="main-txt">
              On every rebase the smart contract does the following operation:
              totalSupply * (rate - targetRate) / targetRate.
            </p>
            <p class="main-txt">
              Rate is the price at uniswap and targetRate is 10^18.
            </p>
            <p class="main-txt">
              After that operation the protocol apply a 10% rebase lag, and
              thats the token balance that will change for everyone.
            </p>
          </div>
          <div class="col-lg-3">
            <img
              src="/assets/images/section_1/7.svg"
              class="img-fluid absolule-right-50px"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="block-4">
      <div class="container">
        <div class="row relative justify-content-center">
          <div class="col-lg-3">
            <img
              src="/assets/images/section_1/9.svg"
              class="img-fluid absolule-left-90px"
              alt=""
            />
          </div>
          <div class="col-lg-8 p-text">
            <p class="main-txt">
              If you have 500 $BASX tokens worth 400 sUSD, your holding value
              will still be 400 sUSD after the rebase event.
              <br />
              This is possible because your % of the supply you own never
              changes, in fact, it will only go up, because of the burn system.
            </p>
            <p class="neon-txt">
              This enables new trading strategies, it has also changed the
              entire dynamic behind DeFi. The most savvy traders will not only
              make decisions based on prices, but will consider supply, which
              can bring huge benefits. As always, please do your own research.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block-5">
      <div class="container">
        <div class="row relative justify-content-center">
          <div class="col-lg-6 flex-start">
            <img
              src="/assets/images/section_1/10.svg"
              class="img-fluid triangle-1"
              alt=""
            />
          </div>
          <div class="col-lg-6 flex-end">
            <img
              src="/assets/images/section_1/11.svg"
              class="img-fluid triangle-2"
              alt=""
            />
          </div>
        </div>

        <div class="row justify-content-center title-mount">
          <div class="col-lg-8 center">
            <span class="title">BASIX</span>
            <span class="title-white">MACROECONOMICS</span>
          </div>
          <div class="col-lg-2">
            <img
              src="/assets/images/section_1/8.svg"
              class="img-fluid arrows"
              alt=""
            />
          </div>
        </div>

        <div class="container">
          <div class="row relative top-100 justify-content-center">
            <div class="col-lg-10 pl-100 border-neon zindex-5">
              <p class="main-txt">
                Basix is the first protocol that it completely breaks the
                schemes of being attached to the economy of the other
                cryptocurrencies. The basix ecosystem is completely autonomous,
                trustless, and independent. We created a new model on DeFi that
                offers a real economic trustless system.
              </p>
              <p class="neon-txt">
                Check this report on Ampleforth to learn more.
                <a
                  href="https://gauntlet.network/reports/ampleforth"
                  target="_blank"
                  >https://gauntlet.network/reports/ampleforth</a
                >
              </p>
            </div>
          </div>
          <div class="row absolute-top-90px">
            <div class="col-lg-6 flex-start">
              <img
                src="/assets/images/section_1/12.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 flex-end">
              <img
                src="/assets/images/section_1/13.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="part_2">
    <div class="container">
      <div class="row relative">
        <div class="rotate-text orientation txt-tokenomics">TOKENOMICS</div>
        <div class="col-lg-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 end">
                <img
                  src="/assets/images/section_2/1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="col-lg-6">
                <img
                  src="/assets/images/section_2/2.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="row center justify-content-center pt-60">
              <div class="col-lg-6">
                <img
                  src="/assets/images/section_2/3.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="separator"></div>

  <section class="part_3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="roadmap-txt">ROADMAP</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-80 center">
        <div class="col-lg-9 col-sm-12 col-md-12 col-xs-12">
          <img
            src="/assets/images/section_3/roadmap.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="part_3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="roadmap-txt">ROADMAP</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-80 relative">
        <div class="roadmap-image"></div>
        <div class="txt-block-1">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Integrate sSUSD as decentralized stablecoin</p>
          <p class="quarter-txt">Execute BASIX token sales and community growing</p>
          <p class="quarter-txt">Launch the BASIX protocol</p>
          <p class="quarter-txt">
            Provide initial liquidity on Uniswap and integrate with other
            popular DEXs
          </p>
        </div>
        <div class="txt-block-2">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Active CEX outreach, correspondence and listings</p>
          <p class="quarter-txt">Execute post launch BASIX Protocol marketing campaign</p>
          <p class="quarter-txt">Perform protocol updates and expand BASIX Protocol development team</p>
        </div>
        <div class="txt-block-3">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Explore the creation of a Base Protocol DEX, where BASE is the price basis for all pairs (x/BASIX)</p>
          <p class="quarter-txt">Propose BASIX as a price basis for crypto pairs on popular DEXs</p>
          <p class="quarter-txt">Propose BASIX as a collateral asset for hedged lending</p>
        </div>
        <div class="txt-block-4">
          <p class="quarter-title-txt">2021</p>
          <p class="quarter-txt">Mainnet launch and platform migration</p>
          <p class="quarter-txt">Consider the creation of a foundation layer</p>
          <p class="quarter-txt">New Basix features of governance proposals, votes, and action items</p>
        </div>
      </div>
    </div>
  </section> -->

  <div class="separator last"></div>

  <section class="part_3">
    <div class="container">
      <div class="row p-30 center">
        <div class="col-lg-12">
          <span class="mail">Contact Us</span>
          <p class="mail">
            <a href="mailto:basix.protocol@protonmail.com"
              >basix.protocol@protonmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
