<div class="gradient">
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark justify-between">
      <a class="navbar-brand cyber-txt" [routerLink]="['/']">BASIX</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse group-btn end" id="navbar">
        <button
          *ngIf="!connectedToMetamask"
          (click)="connectToMetamask()"
          class="btn btn-neon my-2 my-sm-0"
        >
          Connect Wallet
        </button>
        <button *ngIf="connectedToMetamask" class="btn btn-neon my-2 my-sm-0">
          {{ address | slice: 0:6 }}...{{ address | slice: 38:64 }}
        </button>
        <a href="https://github.com/basix-protocol" target="_blank">
          <img
            src="/assets/images/icons/github.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a href="https://twitter.com/BasixProtocol" target="_blank">
          <img
            src="/assets/images/icons/twitter.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a href="https://t.me/basixprotocol" target="_blank">
          <img
            src="/assets/images/icons/telegram.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
        <a
          href="https://www.dextools.io/app/uniswap/pair-explorer/0xa2fc0a09ed525ed1e1322472d3f71270c167e976"
          target="_blank"
        >
          <img
            src="/assets/images/icons/uniswap.svg"
            class="img-fluid icons"
            alt=""
          />
        </a>
      </div>
    </nav>
  </section>

  <section>
    <div class="container">
      <div class="row justify-content-center pt-90">
        <div class="col-lg-6">
          <div
            class="card card-basix text-center"
            [ngClass]="{ 'card-basix-closed': !openedTabs[0] }"
          >
            <div
              class="card-header card-header-basix"
              [ngClass]="{ 'box-1': openedTabs[0] }"
              (click)="openTab(0)"
            >
              Uniswap BASX/sUSD Pool
            </div>
            <div class="card-body" *ngIf="openedTabs[0]">
              <div class="info-block">
                <div class="info-txt">Add Liquidity:</div>
                <div class="info-value">
                  <div>
                    <a
                      target="blank"
                      href="https://app.uniswap.org/#/add/{{ basxAddress }}/{{
                        susdAddress
                      }}"
                      >Open Uniswap</a
                    >
                  </div>
                </div>
              </div>

              <div class="info-block">
                <div class="info-txt">Liquidity:</div>
                <div class="info-value">{{ uniPairBasxBalance }} BASX</div>
              </div>
            </div>
            <div
              class="card-footer footer-50 text-muted small"
              *ngIf="openedTabs[0]"
            >
              <a
                href="https://app.uniswap.org/#/add/{{ basxAddress }}/{{
                  susdAddress
                }}"
                target="_blank"
                class="btn btn-primary btn-basix"
                >Add liquidity</a
              >
              <a
                href="https://app.uniswap.org/#/swap?inputCurrency={{
                  susdAddress
                }}&outputCurrency={{ basxAddress }}"
                target="_blank"
                class="btn btn-primary btn-basix btn-basix-2"
                >Buy BASX</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="row justify-content-center pt-40"
        [ngClass]="{ 'pt-150-sm': openedTabs[0] }"
      >
        <div class="col-lg-6">
          <div
            class="card card-basix text-center"
            [ngClass]="{ 'card-basix-closed': !openedTabs[1] }"
          >
            <div
              class="card-header card-header-basix"
              [ngClass]="{ 'box-2': openedTabs[1] }"
              (click)="openTab(1)"
            >
              BASX/sUSD Pool
            </div>

            <div class="card-body" *ngIf="openedTabs[1]">
              <div class="info-block">
                <div class="info-txt"><strong>Calculator</strong></div>
              </div>

              <div class="info-block">
                <div class="info-txt">$BASX Amount:</div>
                <div class="info-value">
                  <input
                    type="number"
                    class="form-control"
                    id="eth"
                    #basxLPInput
                    placeholder="0"
                    (keyup)="onBasxLPInputChange(basxLPInput.value)"
                    [value]="basxLPInputValue"
                    required
                  />
                </div>
              </div>

              <div class="info-block">
                <div class="info-txt">sUSD Needed:</div>
                <div class="info-value">{{sUsdNeeded | number : '1.2-2'}}</div>
              </div>

              <div class="info-block">
                <div class="info-txt">LP Tokens:</div>
                <div class="info-value">{{lpTokens | number : '1.2-2'}}</div>
              </div>
              <div class="info-block">
                <div class="info-txt">Estimated $BASX per day:</div>
                <div class="info-value">
                  <strong>{{apy | number : '1.2-2'}}</strong> 
                </div>
              </div>
              <br/>
              <div class="info-block">
                <div class="info-txt"><strong>Info</strong></div>
              </div>
              <div class="info-block">
                <div class="info-txt">Contract address:</div>
                <div class="info-value">
                  <a
                    target="_blank"
                    href="https://etherscan.io/address/{{ basixPoolAddress }}"
                    >{{ basixPoolAddress | slice: 0:6 }}...{{
                      basixPoolAddress | slice: 38:64
                    }}</a
                  >
                </div>
                <a type="button" ngxClipboard [cbContent]="basixPoolAddress">
                  <img
                    src="/assets/images/icons/copy.svg"
                    class="img-fluid copy"
                    alt=""
                  />
                </a>
              </div>

              <div class="info-block">
                <div class="info-txt">Your amount:</div>
                <div class="info-value">
                  {{ basixPoolUserBalance | number : '1.2-2' }} BASX/sUSD LP Tokens
                </div>
              </div>
              <div class="info-block">
                <div class="info-txt">Total amount:</div>
                <div class="info-value">
                  {{ basixPoolBalance | number : '1.2-2' }} LP Tokens
                </div>
              </div>

              <div class="info-block">
                <div class="info-txt">Earned to claim:</div>
                <div class="info-value">{{ poolEarned | number : '1.6-6' }} BASX</div>
              </div>
            </div>

            <div
              class="card-footer footer-33 text-muted small"
              *ngIf="openedTabs[1]"
            >
              <button
                href="#"
                class="btn btn-primary btn-basix"
                (click)="allowPoolTransferFromBasx()"
                *ngIf="!allowedTranferFrom"
              >
                Approve UNI LP Tokens
              </button>
              <button
                href="#"
                class="btn btn-primary btn-basix"
                (click)="poolStake()"
                *ngIf="allowedTranferFrom"
              >
                Stake LP Tokens
              </button>
              <button
                href="#"
                class="btn btn-primary btn-basix btn-basix-2"
                (click)="poolWithdraw()"
                *ngIf="allowedTranferFrom"
              >
                Withdraw LP Tokens
              </button>
              <button
                href="#"
                class="btn btn-primary btn-basix btn-basix-2"
                (click)="poolGetRewards()"
                *ngIf="allowedTranferFrom"
              >
                Claim BASX Rewards
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row justify-content-center pt-40 pb-90"
        [ngClass]="{
          'pt-150-sm': openedTabs[1],
          'pt-210-sm': allowedTranferFrom && openedTabs[1]
        }"
      >
        <div class="col-lg-6">
          <div
            class="card card-basix text-center"
            [ngClass]="{ 'card-basix-closed': !openedTabs[2] }"
          >
            <div
              class="card-header card-header-basix"
              [ngClass]="{ 'box-3': openedTabs[2] }"
              (click)="openTab(2)"
            >
              Fire the Rebase
            </div>

            <div class="card-body" *ngIf="openedTabs[2]">
              <div class="info-block">
                <div class="info-txt">1 BASX:</div>
                <div class="info-value">{{ susdPrice / basxPrice }} sUSD</div>
              </div>

              <div class="info-block">
                <div class="info-txt">1 sUSD:</div>
                <div class="info-value">{{ basxPrice / susdPrice }} BASX</div>
              </div>
            </div>

            <div
              class="card-footer footer-100 text-muted small"
              *ngIf="openedTabs[2]"
            >
              <button
                href="#"
                class="btn btn-primary btn-basix"
                (click)="poolRebase()"
              >
                Rebase
              </button>
              <button
                href="#"
                class="btn btn-primary btn-basix"
                (click)="syncEthPool()"
              >
                Sync ETH Pool
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
